# Ignore build directories
/AGRender/
/simulation/build/

# Ignore binary files
*.bin

# Ignore Data directory
input_data/*
!input_data/.gitkeep
output_data/*
!output_data/.gitkeep

# Ignore temporary files
*.tmp

# Ignore object files
*.obj
*.o

# Ignore render output files, pictures and videos
*.png
*.bmp
*.jpg
*.jpeg
*.avi
*.mp4
*.mov

# Ausnahme für .vscode Verzeichnisse
!/.vscode/
!/simulation/.vscode/