# Ignore build directory
/build/

# Ignore binary files
*.bin

# Ignore Data directory
/Data/

# Ignore temporary files
*.tmp

#ignore object files
*.obj
*.o

# ignore render output files, pictures and videos
*.png
*.bmp
*.jpg
*.jpeg
*.avi
*.mp4
*.mov